doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form(action='/edit/'+ recipe.id  method='POST')
            label(for='fname') Nom de la recette
                input#recipeName(type='text' name='name' value= recipe.name)
                br
                br
            label(for='lname') Difficult&eacute;
            .custom-select(name='difficulty')
            select
                option(value='0') Facile
                option(value='1') Moyen
                option(value='2') Difficile
            .custom-select(name='withOven')
            select
                option(value='0') Oui
                option(value='1') Non
            input(type='submit' value='Enregistrer')
