doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title HomePage
        link(rel="stylesheet", href="/style.css")
    body 
    h1 Bienvenue chez Brocoli and Co
    img(src="/static/d8fd91496c0946c2b35f2dcbae55a42f.png" alt="homePage" style='width:300px; height:300px;alignement:center')
