doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css")
body
    .container.recipes
        .row
            span.col-6.name.fw-bold= 'Nom'
            span.col-4.difficulty.fw-bold= 'Difficulté'
            span.col.edit= ' '
            span.col.delete= ' '
        each recipe in recipes
            div.row.recipe
                a.col-6(href='/recipes/' + recipe.id)
                    span.name.col-6= recipe.name
                a.col-4(href='/recipes/' + recipe.id)
                    span.difficulty.col-4= recipe.difficulty
                a.col-1(href='/recipes/' + recipe.id)
                    span.name.col-1=recipe.withOven